%list
{
    display: flex;
    align-items: center;
    justify-content: center;
}
%list-justify
{
    display: flex;
    justify-content: center;
}
%list-align
{
    display: flex;
    align-items: center;
}
%menu-active
{
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
}