body {
    font-family: 'Roboto', sans-serif;
}
.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
.section {
    @media (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
    @media (max-width: 1200px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    @media (max-width: 768px) {
        padding-top: 60px;
        padding-bottom: 60px;
        &:nth-child(3) {
            padding-top: 0;
            padding-bottom: 0;
        }
    }
    @media (max-width: 480px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}