.description__list {
    @extend %list-justify;
    gap: 30px;
    @media screen and (min-width: 1200px) {
        flex-direction: row;
        flex-wrap: wrap;
    }
    @media screen and (min-width: 768px) and (max-width: 1200px) {
        flex-direction: row;
        flex-wrap: wrap;
    }
    @media screen and (min-width: 480px) and (max-width: 768px) {
        flex-direction: row;
        flex-wrap: wrap;
    }
    @media screen and (max-width: 480px) {
        flex-direction: column;
        flex-wrap: nowrap;
    }
}
.description__item {
    @media screen and (min-width: 1200px) {
        width: 270px;
    }
    @media screen and (min-width: 768px) and (max-width: 1200px) {
        width: 354px;
    }
    @media screen and (min-width: 480px) and (max-width: 768px) {
     // width: 100%;
        width: 450px;
    }
    @media screen and (max-width: 480px) {
        width: 100%;
    }
}
.description__article-block {
    @media screen and (min-width: 1200px) {
        width: 270px;
        height: 248px;
    }
    @media screen and (min-width: 768px) and (max-width: 1200px) {
        width: 354px;
        height: 226px;
    }
    @media screen and (min-width: 480px) and (max-width: 768px) {
     // width: 100%;
        width: 450px;
        height: 226px;
    }
    @media screen and (max-width: 480px) {
        width: 100%;
        height: 226px;
    }
}
.description__block-image {
    height: 120px;
    margin-bottom: 30px;
    @extend %list;
    border-radius: 4px;
    background-color: var(--light-gray-color);
    @media screen and (min-width: 1200px) {
        width: 270px;
    }
    @media screen and (min-width: 768px) and (max-width: 1200px) {
        width: 354px;
    }
    @media screen and (min-width: 480px) and (max-width: 768px) {
     // width: 100%;
        width: 450px;
    }
    @media screen and (max-width: 480px) {
        width: 100%;
    }
}
.description__list-title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--black-color);
    @media (min-width: 1200px) {
        text-align: left;
    }
    @media (max-width: 1200px) {
        text-align: left;
    }
    @media (max-width: 768px) {
        text-align: center;
    }
    @media (max-width: 480px) {
        text-align: center;
    }
}
.description__list-text
{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--gray-color);
}