/* ==========GALLERY========== */
.gallery {
    padding-top: 0;
    @media screen and (max-width: 1200px) {
        padding-bottom: 0;
    }
    @media screen and (max-width: 768px) {
        padding-bottom: 0;
    }
    @media screen and (max-width: 480px) {
        padding-bottom: 0;
    }
}
.gallery__title {
    margin-bottom: 50px;
    color: var(--black-color);
    @media (max-width: 1200px) {
        margin-bottom: 0;
        font-size: 0;
    }
    @media (max-width: 768px) {
        margin-bottom: 0;
        font-size: 0;
    }    
    @media (max-width: 480px) {
        margin-bottom: 0;
        font-size: 0;
    }
}
.gallery__list {
    @extend %list;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    @media screen and (max-width: 1200px) {
        flex-direction: row;
        flex-wrap: wrap;
    }
    @media screen and (max-width: 768px) {
        flex-direction: row;
        flex-wrap: wrap;
    }
    @media screen and (max-width: 480px) {
        flex-direction: column;
        flex-wrap: nowrap;
    }
}
.gallery__item {
    position: relative;
    overflow: hidden;
    width: 370px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms,
                border 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;    
    &::before {
        content: attr(data-sale);
        position: absolute;
        left: 0;
        /* top: 0; */
        top: 224px;
        width: 100%;
        height: 70px;
        @extend %list;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-align: center;
        text-transform: uppercase;
        /* transform: rotate(-45deg) translate(-80px, -10px); */
        background-color: rgba(47, 48, 58, 0.8);
        color: var(--white-color);
    }
    @media screen and (max-width: 1200px) {
        width: 0;
    }
    @media screen and (max-width: 768px) {
        width: 0;
    }    
    @media screen and (max-width: 480px) {
        width: 0;
    }
}
.gallery__image {
    width: 370px;
    height: 294px;
    @media screen and (max-width: 1200px) {
        width: 0;
        height: 0;
     /* width: 370px;
        height: 294px; */
    }
    @media screen and (max-width: 768px) {
        width: 0;
        height: 0;
     /* width: 350px;
        height: 270px; */
    }
    @media screen and (max-width: 480px)
    {
        width: 0;
        height: 0;
     /* width: 360px;
        height: 280px; */
    }
}
/* ===== ===== */