/* ==========TEAM========== */
.team {
    background: var(--light-gray-color);
}
.team__title {
    color: var(--black-color);
    @media (min-width: 1200px) {
        margin-bottom: 50px;
    }
    @media (max-width: 1200px) {
        margin-bottom: 30px;
    }
    @media (max-width: 768px) {
        margin-bottom: 30px;
    }
    @media (max-width: 480px) {
        margin-bottom: 30px;
    }
}
.team__list {
    @extend %list;
    gap: 30px;
    @media screen and (min-width: 1200px) {
        flex-direction: row;
        flex-wrap: wrap;
    }
    @media screen and (max-width: 1200px) {
        flex-direction: row;
        flex-wrap: wrap;
    }
    @media screen and (max-width: 768px) {
        flex-direction: row;
        flex-wrap: wrap;
    }
    @media screen and (max-width: 480px) {
        flex-direction: column;
        flex-wrap: nowrap;
    }
}
.team__item {
    background-color: var(--white-color);
    @media screen and (min-width: 1200px) {
        width: 270px;
    }
    @media screen and (max-width: 1200px) {
        width: 354px;
    }
    @media screen and (max-width: 768px) {
     // width: 450px;
        width: 100%;
    }
    @media screen and (max-width: 480px) {
     // width: 450px;
        width: 100%;
    }
}
.team__article-block {
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    @media screen and (min-width: 1200px) {
        width: 270px;
        height: 428px;
    }
    @media screen and (max-width: 1200px) {
        width: 354px;
        height: 536px;
    }
    @media screen and (max-width: 768px) {   
     // width: 450px;
        width: 100%;
        height: 622px;
    }
    @media screen and (max-width: 480px) {
     // width: 450px;
        width: 100%;
        height: 622px;
    }
}
.team__image {
    @media (min-width: 1200px) {
        width: 270px;
        height: 260px;
    }
    @media (max-width: 1200px) {
        width: 354px;
        height: 374px;
    }
    @media (max-width: 768px) {
     // width: 450px;
        width: 100%;
        height: 460px;
    }
    @media (max-width: 480px) {
     // width: 450px;
        width: 100%;
        height: 460px;
    }
}
.team__block {
    padding: 30px 15px;
}
.team__list-name {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
    color: var(--black-color);
}
.team__list-profesion {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
    color: var(--gray-color);
}
.team__social-list {
    padding-left: 32px;
    padding-right: 32px;
    @extend %list-justify;
}
.team__social-item {
    width: 44px;
    height: 44px;
}
.team__social-link {
    width: 100%;
    height: 100%;
    @extend %list;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms, 
                background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms, 
                fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
    border-radius: 50%;
    fill: var(--social-icon-color);
    &:hover, &:focus {
        transform: scale(1.15);
        background-color: var(--main-brand-color);
        fill: var(--white-color);
    }
}    
.team__social-icon {
    .social__link:hover & {
        fill: var(--white-color);
    }
}
/* ===== ===== */